*,html,:before,:after{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:700}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.content_center{display:flex;justify-content:center;align-items:center}.hide{display:none}



:root, :before, :after{
  --site-container:975px;
  --size-1:5px;
  --size-2:8px;
  --size-3:13px;
  --size-4:21px;
  --size-5:34px;
  --size-6:55px;
  --size-7:89px;
  --max-zindex:2147483648;
  --default-fontsize:14px;
  --title-fontsize:16px;
  --bg-1:#FAFAFA; 
}



body, html{font-family:'Montserrat',sans-serif; font-size:var(--default-fontsize); font-weight:400; letter-spacing:0.4px; font-feature-settings:'lnum' 1; 
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html{scroll-behavior:smooth; min-height:100vh;}
body{background-color:var(--bg-1); overflow-x:hidden;}
a, button{font-weight:bold;}
.btn, a.btn, button.btn{padding:var(--size-3) var(--size-4); font-weight:normal; -webkit-appearance:none; text-transform:capitalize; 
display:flex; text-align:center; align-items:center; justify-content:center;}
.rancak-popup{display:none;}
.sticky-link{position:relative; font-weight:bold;}
.width-max{position:relative; width:100%; max-width:var(--site-container); margin:0 auto;}



.flex_ori{display:block; overflow:hidden; position:relative; line-height:0;}
.flex_ori:before{content:''; display:block;}
.flex_ori img{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}
.flex_ori img:not([src]){visibility:hidden;}



header{width:100%; z-index:calc(var(--max-zindex) - 5000);}
header .width-max{display:flex; justify-content:space-between;}
.header-logo img, .header-link .svgicon{width:auto;}



.menu-main{position:-webkit-sticky; position:sticky; top:-1px; z-index:calc(var(--max-zindex) - 6000);}
.menu-link{text-transform:uppercase; position:relative; height:48px;}



.rancak-container{position:relative;}
.rancak-container > .width-max{display:block;}
.main-container{display:grid; grid-gap:var(--size-5);}
.column-container{display:grid; grid-template-columns:1fr; grid-template-rows:min-content; grid-row-gap:var(--size-5);}
.column-big-split{display:grid; grid-gap:var(--size-5);}
.section-container{padding-bottom:var(--size-4); border-bottom:1px solid;}

.section-title{font-size:var(--title-fontsize); position:relative; margin-bottom:var(--size-4); display:flex; justify-content:space-between;}
.section-title-name{position:relative; font-weight:900;}
.section-title-more{display:flex; align-items:center;}
.section-title-more .svgicon{margin-left:var(--size-2); width:auto; height:var(--title-fontsize);}



.content-list-container{display:grid; grid-gap:var(--size-4);}

.content-box{display:grid; grid-gap:var(--size-3); grid-template-columns:var(--left-size) 1fr; position:relative;}
.content-thumb-frame:before{padding-top:100%;}
.content-info{font-size:calc(var(--default-fontsize) - 2px);}
.content-info-title h2{font-size:var(--default-fontsize); line-height:150%;}
.content-info-misc{display:flex; flex-wrap:wrap;}
.content-info-misc > *{padding-right:var(--size-2); margin-top:var(--size-2); margin-right:var(--size-2); border-right:1px solid; line-height:100%;}
.content-info-misc > *:last-child{border-right:0; padding-right:0;}
.content-info-misc a{font-weight:normal;}

.default-box{--left-size:var(--size-7);}

.order-box{--left-size:30px;}



.channel-widget-box{display:grid; grid-gap:var(--size-3);}

.channel-widget-big .content-box{grid-template-columns:1fr; position:relative;}
.channel-widget-big .content-info{position:absolute; z-index:2000; bottom:0; left:0; width:100%; padding:var(--size-4);}

.channel-widget-box .default-box{--left-size:var(--size-7) !important;}
.channel-widget-box .content-thumb-frame:before{padding-top:100% !important;}
.channel-widget-box .content-list-container{padding:var(--size-3); border:1px solid;}



.tag-title{display:grid; grid-template-columns:var(--size-2) 1fr; grid-gap:var(--size-2);}
.tag-sidebar-container{display:grid; grid-gap:var(--size-3);}





@media screen and (min-width:0px) and (max-width:1023px){
  .desktop-only, .share-box-static{display:none !important; visibility:hidden; content-visibility:hidden;}
  .desktop-only iframe[loading=lazy]{content-visibility:hidden !important;}
  
  
  
  header{--logo-size:24px; background-color:var(--bg-2);}
  .header-left, .header-right{display:flex;}
  .header-link{height:var(--size-6); padding:0 var(--size-3);}
  .header-logo{padding-left:var(--size-4);}
  .header-logo img{height:21px;}
  
  
  
  .menu-main .width-max{display:grid; grid-auto-flow:column; overflow-x:auto; padding:0 var(--size-1);}
  .menu-link{padding:0 var(--size-3);}
  
  
  
  .rancak-container{margin-top:var(--size-4);}
  .rancak-container-mobilemargin{margin-top:0;}
  .main-container{grid-template-columns:1fr;}
  .section-container{margin:0 var(--size-4);}
}