:root, :before, :after{
  --bg-2:#FFFFFF; 
  --bg-3:#F0F0F0;
  --bg-4:43 31 87;
  --color-border-dark:0 0 0;
  --color-border-light:255 255 255;
  --color-text-1:#757575; 
  --color-text-2:#212121; 
  --color-text-3:#2ba7db;
  --color-text-4:#2B1F57;
  --color-text-5:#78c2c5;
  --color-text-6:#000000;
  --color-fb:#1877f2;
  --color-ig:#C13584;
  --color-tw:#00acec;
  --color-wa:#2bb240;
  --color-tg:#0088cc;
  --color-tk:#FF0050;
  --rounded-1:var(--size-1);
  --hover-opacity:0.55;
  --transition-default:all 0.34s;
  --shadow-default:7px 7px 5px rgb(0 0 0 / 75%);
  --shadow-neumorp:-2px -2px 4px rgba(255,255,255,.2), 2px 2px 12px rgba(0,0,0,.2);
  --shadow-inset:inset -2px -2px 4px rgba(255,255,255,.2), inset 2px 2px 12px rgba(0,0,0,.2);
}



body, html{color:var(--color-text-1);}
html{background-color:var(--bg-3);}
body.freeze-scroll{overflow:hidden;}
a, .btn, button, #btt{transition:var(--transition-default); cursor:pointer}
a, button{color:var(--color-text-2); fill:var(--color-text-2);}
a:hover, button:hover{color:var(--color-text-5); fill:var(--color-text-5);}
.btn, a.btn, button.btn{background-color:var(--color-text-5); color:var(--bg-1); fill:var(--bg-1);}
.btn:hover, a.btn:hover, button.btn:hover{background-color:var(--color-text-2);}
#btt{position:fixed; bottom:calc(var(--size-6) + var(--size-4)); right:var(--size-4); cursor:pointer; z-index:calc(var(--max-zindex) - 10000); fill:var(--color-text-1);}
#btt .svgicon{width:48px; height:auto;}
#btt:hover, #btt:focus{fill:var(--color-text-5);}



.flex_ori > img{opacity:0; transition:all 300ms;}
.flex_ori > img.lazyloaded{opacity:1;}
.thumb-loading:before{animation:skeleton-loading 0.5s linear infinite alternate; background-color:var(--color-text-2);}
@-webkit-keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}
@keyframes skeleton-loading{0%{opacity:0.05;}100%{opacity:0.15;};}



.fancy-outside, .fancy-inside{border-radius:var(--size-1) var(--size-4);}
.fancy-outside{transform:skew(25deg);}
.fancy-word{transform:skew(-25deg);}



.nav-button{background-color:var(--color-text-3); color:var(--bg-2); box-shadow:var(--shadow-default);}
.nav-button:hover{background-color:var(--color-text-4); color:var(--bg-2);}
.nav-button-frame{background-color:var(--color-text-4);}
.nav-curr{background-color:var(--color-text-4);}
.nav-curr .nav-button-frame{background-color:var(--color-text-3);}



.home-bg:after{background-color:rgb(var(--bg-4) / 55%);}



.client-bg{background-color:#E2E3E4;}





@media screen and (min-width:0px) and (max-width:1023px){
  .client-bg img{object-fit:contain; object-position:bottom;}
}





@media screen and (min-width:1024px){
  
}